/* Arquivo _lote.scss */

.lote {

    .informacoes {
        display: inline-block;

        .dados {

            padding: 10px 0;

            .texto {
                font-weight: bold;
            }

        }

    }

    .cabecalho {
        .texto {
            font-weight: bold;
        }
    }

    .comitente {
        .texto {
            font-weight: bold;
        }
    }

    .data_hora {

        .titulo {
            text-align: center;
            font-weight: bold;
        }

        .tempo_restante {

            .valor {
                text-align: center;
            }

        }

        .texto {
            .titulo {
               text-align: center;
                font-weight: normal;
            }
        }
    }

    .lance_atual {
        .titulo {
            text-align: center;
            font-weight: bold;
        }
    }

}
