/* Arquivo _lote.scss */

.lote {

    .informacoes {
        display: inline-block;

        .dados {

            padding: 10px 0;

            .texto {
                font-weight: bold;
            }

        }

    }

}
