/* Arquivo _footer.scss */

footer {
    background-color: $cor-principal;
    color: $cor-auxiliar;

    .copyright {
        background-color: $cor-secundaria;
    }

    .linha_branca_footer {
        border-top: 1px solid #f0f0f052;
        max-width: 330px;
        margin: 0 auto;
    }

    form {
        .email {
            width: 260px;
        }
    }

}
