/* Arquivo _variables.scss */

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: Roboto, Arial, Helvetica, sans-serif;
$font-size-base: 13px;
$line-height-base: 1.6;

$cor-principal: #652c88;
$cor-secundaria: #f57e20;
$cor-auxiliar: #ffffff;
$cor-auxiliar-2: #ededed;
$cor-auxiliar-3: #333;

$url_icones: 'http://192.168.50.71/lancey/public/images/icones/';
